.header__logo {
    object-fit: contain;
    object-position: left;
    max-height: 100%;
    padding-bottom: 41px;
    box-sizing: border-box;
    transition: all .5s ease;
}

@media screen and (max-width: 879px) {
    .header__logo {
        padding: 0 27px 41px;
    }   
}

@media screen and (max-width: 425px) {
    .header__logo {
        padding: 0 27px 32px;
    }   
}