.profile__profile-info {
    width: 100%;
    align-self: center;
    transition: all .5s ease;
}

@media screen and (max-width: 615px) {
    .profile__profile-info {
        width: calc(100% - 70px);
    }   
}
